@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');

html,
body {
  font-size: 18pt;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  margin: 0 8px 0 8px;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

main {
  padding: 5em 0;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}


a {
  transition: background 170ms ease-in-out;
  color:rgb(39, 42, 150);
}

a:hover{
  border-radius: 4px;
  background: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.3);
}