/* My stuff ---------------------------------- */

.headerDesign {
  /*max-width: 800px;*/
  width: 100%;
  border-bottom: 8pt solid #0066FF;
  display: inline-block;
  position: relative;
  height: calc(100vh - 32pt);
}

.headerText {
  color: #0066FF;
  font-weight: 800;
  font-size: 72pt;
  margin-bottom: 6pt;
}

.headerTextWrapper {
  float: left;
  position: absolute;
  bottom: 0;
}
/* ------------------------- Included stuff -------------------------*/

.container {
  min-height: 100vh;
  padding: 0 0.7rem;
  justify-content: center;
}